<!DOCTYPE html>
<html lang="en">

<body style="background-color: #f7f7f7;">
<table border="0" cellspacing="0" cellpadding="0" width="600" style="width: 600px; margin: auto; border: 1px solid #ececec;">
    <tr>
        <td>
            {{template "content" .}}
        </td>
    </tr>
    <tr>
        <td style="padding: 0 30px 10px 30px;">
            <p style="font-family: 'Arial', sans-serif; font-size: 15px; color: #0A2240;">
                Kind regards,<br>
                <strong>The Masomo Team<br>
                    Masomo Inc</strong>
            </p>
        </td>
    </tr>
</table>
</body>
</html>
